<mat-toolbar #btn color="primary">
    <mat-toolbar-row style="display:flex;justify-content: space-between;">
      <div>
      <button  style="padding-right: 10px;width: unset;"
      *ngIf="mobileQuery.matches" mat-icon-button
      (click)="click2.toggle()"><mat-icon>menu</mat-icon></button>
    <span><a style="text-decoration: none;color:white;padding-left: 15px; " [routerLink]="['/','home']">Dhanak</a></span>
    </div>
    <div style="display: flex;justify-content: space-between;" *ngIf="!mobileQuery.matches">
    <span><a style="text-decoration: none;color:white;padding-left: 15px; " [routerLink]="['/']">Home</a></span>
    <span><a style="text-decoration: none;color:white;padding-left: 15px; " [routerLink]="['/events']">Events</a></span>
    <span><a style="text-decoration: none;color:white;padding-left: 15px; " [routerLink]="['/','home']">Contact Us</a></span>
    <span><a (click)='auth.login()' *ngIf="!auth.isAuthenticated()">
        <span class='glyphicon glyphicon-user'></span> Login
    </a>
    <a (click)='auth.logout()' *ngIf="auth.isAuthenticated()">
        <span class='glyphicon glyphicon-user'></span> Logout
    </a></span>
    <span>
        <a [routerLink]='["/data"]' (click)='collapse()' *ngIf="auth.isInRole('Admin')">
          <span class='glyphicon glyphicon-pencil'></span>Event portal
      </a>
    </span>
    <span>
        <a [routerLink]='["/dash"]' (click)='collapse()' *ngIf="auth.isAuthenticated()">
          <span class='glyphicon glyphicon-pencil'></span>DashBoard
      </a>
    </span>
    <span>
        <a [routerLink]='["/org"]' (click)='collapse()' *ngIf="auth.isInRole('Organiser')">
          <span class='glyphicon glyphicon-pencil'></span>Organiser Portal
      </a>
    </span>

  </div>
  </mat-toolbar-row>
</mat-toolbar>


<router-outlet  (activate)="onActivate($event)"></router-outlet>





