

<mat-sidenav-container class="sidenav-container darken bg"
                       style="height:100vh; width:100%; ">
  <!-- <mat-sidenav-container class="sidenav-container darken bg"
  style="height:100vh;width:100%;position:relative; top:-65px;"> -->


  <mat-sidenav [ngStyle]=" {padding : mobileQuery.matches ? ' ' : '25px',
     display : mobileQuery.matches ? ' ' : 'flex',
     background: mobileQuery.matches ? ' ' : 'transparent'
    }"
               #sidenav1
               [mode]="mobileQuery.matches ? 'over' : 'side'"
               opened="!mobileQuery.matches"
               [fixedInViewport]="mobileQuery.matches"
               style="flex-direction: column;justify-content: center;overflow: hidden;"
               (closed)="toolbar()">
    <mat-accordion *ngIf="!mobileQuery.matches" #accordion>

      <mat-expansion-panel #musicpanel>
        <mat-expansion-panel-header (click)="music.click()" data-event-name="music">
          Music
        </mat-expansion-panel-header>

        <mat-nav-list>
          <a mat-list-item [routerLink]="['/events', 'dance']" (click)="sidenav.open()" routerLinkActive="active"> Solo Singing</a>
          <a mat-list-item [routerLink]="['/events', 'group']" (click)="sidenav.open()" routerLinkActive="active"> Duet Singing</a>
          <a mat-list-item [routerLink]="['/events', 'band']" (click)="sidenav.open()" routerLinkActive="active"> Battle of Bands</a>
        </mat-nav-list>

      </mat-expansion-panel>

      <mat-expansion-panel #dancepanel>
        <mat-expansion-panel-header (click)="dance.click()" data-event-name="dance">
          Dance
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item [routerLink]="['/events', '10']" (click)="sidenav.open()" routerLinkActive="active"> Solo Dance (Classical)</a>
          <a mat-list-item [routerLink]="['/events', '43']" (click)="sidenav.open()" routerLinkActive="active"> Solo Dance (Western)</a>
          <a mat-list-item [routerLink]="['/events', '9']" (click)="sidenav.open()" routerLinkActive="active"> Unchoreographed Dance</a>
          <a mat-list-item [routerLink]="['/events', '5']" (click)="sidenav.open()" routerLinkActive="active"> Group Dance</a>
          <a mat-list-item [routerLink]="['/events', 'band']" (click)="sidenav.open()" routerLinkActive="active"> Duet Dance</a>
        </mat-nav-list>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header (click)="literary.click()" data-event-name="literary">
          Literary
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item [routerLink]="['/events', 'dance']" (click)="sidenav.open()" routerLinkActive="active"> Debate</a>
          <a mat-list-item [routerLink]="['/events', 'group']" (click)="sidenav.open()" routerLinkActive="active"> Channel Surfing</a>
          <a mat-list-item [routerLink]="['/events', 'band']" (click)="sidenav.open()" routerLinkActive="active"> Spell Bee</a>
          <a mat-list-item [routerLink]="['/events', 'band']" (click)="sidenav.open()" routerLinkActive="active"> Shipwrecked</a>
          <a mat-list-item [routerLink]="['/events', 'band']" (click)="sidenav.open()" routerLinkActive="active"> JAM</a>
          <a mat-list-item [routerLink]="['/events', 'band']" (click)="sidenav.open()" routerLinkActive="active"> Malayalam Extempore</a>
          <a mat-list-item [routerLink]="['/events', 'band']" (click)="sidenav.open()" routerLinkActive="active"> Open Mic</a>
          <a mat-list-item [routerLink]="['/events', 'band']" (click)="sidenav.open()" routerLinkActive="active"> Comic Strip Making</a>
        </mat-nav-list>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header (click)="quiz.click()" data-event-name="quiz">
          Quiz
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item [routerLink]="['/events', 'dance']" (click)="sidenav.open()" routerLinkActive="active"> General Quiz</a>
          <a mat-list-item [routerLink]="['/events', 'group']" (click)="sidenav.open()" routerLinkActive="active"> Mela Quiz</a>
          <a mat-list-item [routerLink]="['/events', 'band']" (click)="sidenav.open()" routerLinkActive="active"> Theme Quiz</a>
          <a mat-list-item [routerLink]="['/events', 'band']" (click)="sidenav.open()" routerLinkActive="active"> Sports Quiz</a>
        </mat-nav-list>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header (click)="arts.click()" data-event-name="arts">
          Arts
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item [routerLink]="['/events', 'dance']" (click)="sidenav.open()" routerLinkActive="active"> Cloth Bag Painting</a>
          <a mat-list-item [routerLink]="['/events', 'group']" (click)="sidenav.open()" routerLinkActive="active"> Face Painting</a>
          <a mat-list-item [routerLink]="['/events', 'band']" (click)="sidenav.open()" routerLinkActive="active"> Doodle Making</a>
          <a mat-list-item [routerLink]="['/events', 'band']" (click)="sidenav.open()" routerLinkActive="active"> Sketching</a>
          <a mat-list-item [routerLink]="['/events', 'band']" (click)="sidenav.open()" routerLinkActive="active"> Junk Art</a>
        </mat-nav-list>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header (click)="informals.click()" data-event-name="informals">
          Informals
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item [routerLink]="['/events', 'dance']" (click)="sidenav.open()" routerLinkActive="active"> Crime Scene</a>
          <a mat-list-item [routerLink]="['/events', 'group']" (click)="sidenav.open()" routerLinkActive="active"> Beg Borrow Steal</a>
          <a mat-list-item [routerLink]="['/events', 'band']" (click)="sidenav.open()" routerLinkActive="active"> Mr and Mrs Dhanak</a>
          <a mat-list-item [routerLink]="['/events', 'band']" (click)="sidenav.open()" routerLinkActive="active"> Treasure Hunt</a>
          <a mat-list-item [routerLink]="['/events', 'band']" (click)="sidenav.open()" routerLinkActive="active"> Dostana</a>
          <a mat-list-item [routerLink]="['/events', 'band']" (click)="sidenav.open()" routerLinkActive="active"> Dumb Charades</a>
          <a mat-list-item [routerLink]="['/events', 'band']" (click)="sidenav.open()" routerLinkActive="active"> Fashion Show</a>
          <a mat-list-item [routerLink]="['/events', 'band']" (click)="sidenav.open()" routerLinkActive="active"> Selfie Contest</a>
          <a mat-list-item [routerLink]="['/events', 'band']" (click)="sidenav.open()" routerLinkActive="active"> Mock Interview</a>
          <a mat-list-item [routerLink]="['/events', 'band']" (click)="sidenav.open()" routerLinkActive="active"> Spot Photography</a>
        </mat-nav-list>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header (click)="online.click()" data-event-name="online">
          Online
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item [routerLink]="['/events', 'dance']" (click)="sidenav.open()" routerLinkActive="active"> Photography</a>
          <a mat-list-item [routerLink]="['/events', 'group']" (click)="sidenav.open()" routerLinkActive="active"> Poetry</a>
          <a mat-list-item [routerLink]="['/events', 'band']" (click)="sidenav.open()" routerLinkActive="active"> Short Story Writing</a>
          <a mat-list-item [routerLink]="['/events', 'band']" (click)="sidenav.open()" routerLinkActive="active"> Dubsmash</a>
          <a mat-list-item [routerLink]="['/events', 'band']" (click)="sidenav.open()" routerLinkActive="active"> Meme Making</a>
          <a mat-list-item [routerLink]="['/events', 'band']" (click)="sidenav.open()" routerLinkActive="active"> Webbed</a>
          <a mat-list-item [routerLink]="['/events', 'band']" (click)="sidenav.open()" routerLinkActive="active"> Micro Tale Competition</a>
          <a mat-list-item [routerLink]="['/events', 'band']" (click)="sidenav.open()" routerLinkActive="active"> Love Letter Writing</a>
        </mat-nav-list>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header (click)="gaming.click()" data-event-name="gaming">
          Gaming
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item [routerLink]="['/events', 'dance']" (click)="sidenav.open()" routerLinkActive="active"> FIFA</a>
          <a mat-list-item [routerLink]="['/events', 'group']" (click)="sidenav.open()" routerLinkActive="active"> Rainbow Six Siege</a>
        </mat-nav-list>
      </mat-expansion-panel>

    </mat-accordion>


    <mat-nav-list [ngStyle]="{'display' : !hideMainNav ? 'none' : ''}" *ngIf="mobileQuery.matches" style="width:180px;">
      <a [ngStyle]=" {color : mobileQuery.matches ? 'black ' : ' '
        }" mat-list-item (click)="openMainNav();" style="padding:0;background: rgba(0,0,0,.3);">
        <mat-icon>arrow_left</mat-icon>  Go Back
      </a>
      <a [ngStyle]=" {color : mobileQuery.matches ? 'black ' : ' '
        }" mat-list-item (click)="dance.click();sidenav1.toggle();" data-event-name="dance">
        Dance
      </a>
      <a [ngStyle]=" {color : mobileQuery.matches ? 'black ' : ' '
        }" mat-list-item (click)="dance.click();sidenav1.toggle();" data-event-name="music">
        Music
      </a>
      <a [ngStyle]=" {color : mobileQuery.matches ? 'black ' : ' '
        }" mat-list-item (click)="dance.click();sidenav1.toggle();" data-event-name="arts">
        Arts
      </a>
      <a [ngStyle]=" {color : mobileQuery.matches ? 'black ' : ' '
        }" mat-list-item (click)="dance.click();sidenav1.toggle();" data-event-name="literary">
        Literary
      </a>
      <a [ngStyle]=" {color : mobileQuery.matches ? 'black ' : ' '
        }" mat-list-item (click)="dance.click();sidenav1.toggle();" data-event-name="quiz">
        Quiz
      </a>
      <a [ngStyle]=" {color : mobileQuery.matches ? 'black ' : ' '
        }" mat-list-item (click)="dance.click();sidenav1.toggle();" data-event-name="informals">
        Informals
      </a>
      <a [ngStyle]=" {color : mobileQuery.matches ? 'black ' : ' '
        }" mat-list-item (click)="dance.click();sidenav1.toggle();" data-event-name="gaming">
        Gaming
      </a>
    </mat-nav-list>

    <mat-nav-list [ngStyle]="{'display' : hideMainNav ? 'none' : ''}" *ngIf="mobileQuery.matches" style="width:180px;">
      <a [ngStyle]=" {color : mobileQuery.matches ? 'black ' : ' '
}" mat-list-item [routerLink]="['/','home']">
        Home
      </a>
      <a id="events_nav_btn" [ngStyle]=" {color : mobileQuery.matches ? 'black ' : ' '
}" mat-list-item (click)="openEventsNav();">
        Events <mat-icon style="margin-left: 50px;">arrow_right_alt</mat-icon>
      </a>
      <a [ngStyle]=" {color : mobileQuery.matches ? 'black ' : ' '
}" mat-list-item>
        Workshops
      </a>
      <a [ngStyle]=" {color : mobileQuery.matches ? 'black ' : ' '
}" mat-list-item>
        Contact Us
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav position="end"
               #sidenav
               [mode]="over"
               opened="false"
               [fixedInViewport]="false" [fixedTopGap]="128"
               [fixedBottomGap]="64">

    <!-- <app-event-details></app-event-details> -->
    <router-outlet></router-outlet>
  </mat-sidenav>

  <mat-sidenav-content>
    <!-- <router-outlet *ngIf="!isEventsPage"></router-outlet> -->
    <!-- <app-events #events (messageEvent)="receiveMessage($event)" (openNav)="sidenav.open()"></app-events> -->


    <div style="height: 100%; width: 100%; overflow:hidden;"
         [ngStyle]="{paddingRight : mobileQuery.matches ? ' ' : '240px'}">
      <div class="component" style="height: 100%;
width: 100%;
position: absolute;
top: 0;
left: 0;
display: flex;
justify-content: flex-end;overflow: hidden;"
           [ngStyle]=" {paddingRight : mobileQuery.matches ? ' ' : '240px'
}">

        <!-- insert branches here -->
        <div id="branch_container" style="width: 50%;height: 100%;display: flex;
align-items: center;transform-origin: left center;-webkit-transition: all .6s ease;
-moz-transition: all .6s ease;
transition: all .6s ease;z-index: 9999;">
          <!-- Branches -->
          <div id="branch" style="position:relative;transform: rotate(22.5deg);top: -150px;transform-origin: bottom;">
            <div id="Dance" [ngStyle]=" {display : mobileQuery.matches ? 'none' : ''
     }" class="parent">
              <div id="node0" class="node0 node" style="height: 235px;border: 1px solid rgba(111, 50, 92, 0.2)">
                <div id="node0_circle" class="node0_circle clc" style="background-color: #6F325C;border: 2px solid white;">
                  <a #dance1 class="popup_btn" (click)="sidenav.open()" [routerLink]="['/events', '10']">
                    <span style="color:white;font-size:16px;" class="fas fa-male"></span>
                  </a>
                </div>
                <div id="node1" class="node1 node" style="border: 1px solid #6F325C;">
                  <div id="node1_circle" matTooltip="Info about the action"
                       matTooltipPosition="above" class="node1_circle clc" style="background-color: #6F325C;">
                    <a #solo_dance_western class="popup_btn" (click)="sidenav.open()" [routerLink]="['/events', '43']" data-value="#dance_btn">
                      <span style="color:white;font-size:16px;" class="fas fa-dumbbell"></span>
                    </a>
                  </div>
                  <div id="node1" class="node1 node" style="border: 1px solid #6F325C;
   transform: rotate(60deg) !important;
   transform-origin: top;
   bottom: -35px;
   height: 50px;">
                    <div id="node1_circle" matTooltip="Info about the action"
                         matTooltipPosition="above" class="node1_circle clc" style="background-color: #6F325C;">
                      <a #unchoreographed_dance class="popup_btn" (click)="sidenav.open()" [routerLink]="['/events', '9']" data-value="#dance_btn">
                        <span style="color:white;font-size:16px;" class="fas fa-dumbbell"></span>
                      </a>
                    </div>
                  </div>
                </div>

                <div id="node3" class="node3 node" style="border: 1px solid #6F325C;">
                  <div id="node3_circle" class="node3_circle clc" style="background-color: #6F325C;">
                    <a #group_dance class="popup_btn" (click)="sidenav.open()" [routerLink]="['/events', '5']" data-value="#dance_btn">
                      <span style="color:white;font-size:16px;" class="fas fa-crop-alt"></span>
                    </a>
                  </div>
                  <div id="node3" class="node3 node" style="border: 1px solid #6F325C;
   transform: rotate(-60deg) !important;
   transform-origin: top;
   bottom: -35px;
   height: 50px;">
                    <div id="node3_circle" class="node3_circle clc" style="background-color: #6F325C;">
                      <a #duet_dance class="popup_btn" (click)="sidenav.open()" [routerLink]="['/events', '40']" data-value="#dance_btn">
                        <span style="color:white;font-size:16px;" class="fas fa-crop-alt"></span>
                      </a>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="branch" style="position:relative;transform: rotate(67.5deg);top: -150px;transform-origin: bottom;">
            <div id="Online" [ngStyle]=" {display : mobileQuery.matches ? 'none' : ''
     }" class="parent">
              <div id="node0" class="node0 node" style="height: 270px;border: 1px solid #009688;">
                <div id="node0_circle" class="node0_circle clc" style="background-color: #009688;">
                  <a #photography class="popup_btn" (click)="sidenav.open()" [routerLink]="['/events', '44']"><span style="color:white;font-size:16px;" class="icon-"></span></a>
                </div>
                <div id="node0_circle" class="node0_circle clc" style="top:25px;background-color: #009688;">
                  <a #poetry class="popup_btn" (click)="sidenav.open()" [routerLink]="['/events', '45']"><span style="color:white;font-size:16px;" class="icon-"></span></a>
                </div>
                <div id="node1" class="node1 node" style="border: 1px solid #009688;">
                  <div id="node1_circle" class="node1_circle clc" style="background-color: #009688;">
                    <a #short_story class="popup_btn" (click)="sidenav.open()" [routerLink]="['/events', '37']"><span style="color:white;font-size:16px;" class="icon-"></span></a>
                  </div>
                  <div id="node1" class="node1 node" style="border: 1px solid #009688;
         transform: rotate(60deg) !important;
         transform-origin: top;
         bottom: -75px;
       height: 90px;">
                    <div id="node1_circle" class="node1_circle clc" style="background-color: #009688;">
                      <a #dubsmash class="popup_btn" (click)="sidenav.open()" [routerLink]="['/events', '36']"><span style="color:white;font-size:16px;" class="icon-"></span></a>
                    </div>
                    <div id="node1_circle" class="node1_circle clc" style="top:22px;background-color: #009688;">
                      <a #meme_making class="popup_btn" (click)="sidenav.open()" [routerLink]="['/events', '35']"><span style="color:white;font-size:16px;" class="icon-"></span></a>
                    </div>
                  </div>
                </div>

                <div id="node3" class="node3 node" style="border: 1px solid #009688;">
                  <div id="node3_circle" class="node3_circle clc" style="background-color: #009688;">
                    <a #webbed class="popup_btn" (click)="sidenav.open()" [routerLink]="['/events', '39']"><span style="color:white;font-size:16px;" class="icon-"></span></a>
                  </div>
                  <div id="node3" class="node3 node" style="border: 1px solid #009688;
         transform: rotate(-60deg) !important;
         transform-origin: top;
         bottom: -75px;
       height: 90px;">
                    <div id="node3_circle" class="node3_circle clc" style="background-color: #009688;">
                      <a #micro_tale class="popup_btn" (click)="sidenav.open()" [routerLink]="['/events', 'unk']"><span style="color:white;font-size:16px;" class="icon-"></span></a>
                    </div>
                    <div id="node3_circle" class="node3_circle clc" style="top:22px;background-color: #009688;">
                      <a #love_letter class="popup_btn" (click)="sidenav.open()" [routerLink]="['/events', 'unk']"><span style="color:white;font-size:16px;" class="icon-"></span></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="branch" style="position:relative;transform: rotate(112.5deg);top: -150px;transform-origin: bottom;">
            <div id="Arts" [ngStyle]=" {display : mobileQuery.matches ? 'none' : ''
     }" class="parent">
              <div id="node0" class="node0 node" style="height: 235px;border: 1px solid #2E7D32">
                <div id="node0_circle" class="node0_circle clc" style="background-color: #2E7D32;border: 2px solid white;">
                  <a #cloth_bag class="popup_btn" (click)="sidenav.open()" [routerLink]="['/events', 'unk']" data-value="#dance_btn" (click)="sidenav.open()"><span style="color:white;font-size:16px;" class="fas fa-male"></span></a>
                </div>
                <div id="node1" class="node1 node" style="border: 1px solid #2E7D32;">
                  <div id="node1_circle" matTooltip="Info about the action"
                       matTooltipPosition="above" class="node1_circle clc" style="background-color: #2E7D32;">
                    <a #face_painting class="popup_btn" (click)="sidenav.open()" [routerLink]="['/events', '23']" data-value="#dance_btn">
                      <span style="color:white;font-size:16px;" class="fas fa-dumbbell"></span>
                    </a>
                  </div>
                  <div id="node1" class="node1 node" style="border: 1px solid #2E7D32;
           transform: rotate(60deg) !important;
           transform-origin: top;
           bottom: -35px;
           height: 50px;">
                    <div id="node1_circle" matTooltip="Info about the action"
                         matTooltipPosition="above" class="node1_circle clc" style="background-color: #2E7D32;">
                      <a class="popup_btn" (click)="sidenav.open()" [routerLink]="['/events', 'dance']" data-value="#dance_btn">
                        <span style="color:white;font-size:16px;" class="fas fa-dumbbell"></span>
                      </a>
                    </div>
                  </div>
                </div>

                <div id="node3" class="node3 node" style="border: 1px solid #2E7D32;">
                  <div id="node3_circle" class="node3_circle clc" style="background-color: #2E7D32;">
                    <a class="popup_btn" (click)="sidenav.open()" [routerLink]="['/events', 'dance']" data-value="#dance_btn">
                      <span style="color:white;font-size:16px;" class="fas fa-crop-alt"></span>
                    </a>
                  </div>
                  <div id="node3" class="node3 node" style="border: 1px solid #2E7D32;
           transform: rotate(-60deg) !important;
           transform-origin: top;
           bottom: -35px;
           height: 50px;">
                    <div id="node3_circle" class="node3_circle clc" style="background-color: #2E7D32;">
                      <a class="popup_btn" (click)="sidenav.open()" [routerLink]="['/events', 'dance']" data-value="#dance_btn">
                        <span style="color:white;font-size:16px;" class="fas fa-crop-alt"></span>
                      </a>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>

          <div id="branch" style="position:relative;transform: rotate(157.5deg);top: -150px;transform-origin: bottom;">
            <div id="Literary"
                 [ngStyle]=" {display : mobileQuery.matches ? 'none' : ''
     }" class="parent">
              <div id="node0" class="node0 node" style="height: 270px;border: 1px solid #FBC02D;">
                <div id="node0_circle" class="node0_circle clc" style="background-color: #FBC02D;">
                  <a class="popup_btn" (click)="sidenav.open()" [routerLink]="['/events', 'dance']"><span style="color:white;font-size:16px;" class="icon-"></span></a>
                </div>
                <div id="node0_circle" class="node0_circle clc" style="top:25px;background-color: #FBC02D;">
                  <a class="popup_btn" (click)="sidenav.open()" [routerLink]="['/events', 'dance']"><span style="color:white;font-size:16px;" class="icon-"></span></a>
                </div>
                <div id="node1" class="node1 node" style="border: 1px solid #FBC02D;">
                  <div id="node1_circle" class="node1_circle clc" style="background-color: #FBC02D;">
                    <a class="popup_btn" (click)="sidenav.open()" [routerLink]="['/events', 'dance']"><span style="color:white;font-size:16px;" class="icon-"></span></a>
                  </div>
                  <div id="node1" class="node1 node" style="border: 1px solid #FBC02D;
 transform: rotate(60deg) !important;
 transform-origin: top;
 bottom: -75px;
height: 90px;">
                    <div id="node1_circle" class="node1_circle clc" style="background-color: #FBC02D;">
                      <a class="popup_btn" (click)="sidenav.open()" [routerLink]="['/events', 'dance']"><span style="color:white;font-size:16px;" class="icon-"></span></a>
                    </div>
                    <div id="node1_circle" class="node1_circle clc" style="top:22px;background-color: #FBC02D;">
                      <a class="popup_btn" (click)="sidenav.open()" [routerLink]="['/events', 'dance']"><span style="color:white;font-size:16px;" class="icon-"></span></a>
                    </div>
                  </div>
                </div>

                <div id="node3" class="node3 node" style="border: 1px solid #FBC02D;">
                  <div id="node3_circle" class="node3_circle clc" style="background-color: #FBC02D;">
                    <a class="popup_btn" (click)="sidenav.open()" [routerLink]="['/events', 'dance']"><span style="color:white;font-size:16px;" class="icon-"></span></a>
                  </div>
                  <div id="node3" class="node3 node" style="border: 1px solid #FBC02D;
 transform: rotate(-60deg) !important;
 transform-origin: top;
 bottom: -75px;
height: 90px;">
                    <div id="node3_circle" class="node3_circle clc" style="background-color: #FBC02D;">
                      <a class="popup_btn" (click)="sidenav.open()" [routerLink]="['/events', 'dance']"><span style="color:white;font-size:16px;" class="icon-"></span></a>
                    </div>
                    <div id="node3_circle" class="node3_circle clc" style="top:22px;background-color: #FBC02D;">
                      <a class="popup_btn" (click)="sidenav.open()" [routerLink]="['/events', 'dance']"><span style="color:white;font-size:16px;" class="icon-"></span></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="branch" style="position:relative;transform: rotate(202.5deg);top: -150px;transform-origin: bottom;">
            <div id="Quiz" [ngStyle]=" {display : mobileQuery.matches ? 'none' : ''
     }" class="parent">
              <div id="node0" class="node0 node" style="height: 270px;border: 1px solid #FF5722;">
                <div id="node0_circle" class="node0_circle clc" style="background-color: #FF5722;">
                  <a class="popup_btn" (click)="sidenav.open()" [routerLink]="['/events', 'dance']"><span style="color:white;font-size:16px;" class="icon-"></span></a>
                </div>
                <div id="node0_circle" class="node0_circle clc" style="top:25px;background-color: #FF5722;">
                  <a class="popup_btn" (click)="sidenav.open()" [routerLink]="['/events', 'dance']"><span style="color:white;font-size:16px;" class="icon-"></span></a>
                </div>
                <div id="node1" class="node1 node" style="border: 1px solid #FF5722;">
                  <div id="node1_circle" class="node1_circle clc" style="background-color: #FF5722;">
                    <a class="popup_btn" (click)="sidenav.open()" [routerLink]="['/events', 'dance']"><span style="color:white;font-size:16px;" class="icon-"></span></a>
                  </div>
                </div>

                <div id="node3" class="node3 node" style="border: 1px solid #FF5722;">
                  <div id="node3_circle" class="node3_circle clc" style="background-color: #FF5722;">
                    <a class="popup_btn" (click)="sidenav.open()" [routerLink]="['/events', 'dance']"><span style="color:white;font-size:16px;" class="icon-"></span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="branch" style="position:relative;transform: rotate(247.5deg);top: -150px;transform-origin: bottom;">
            <div id="Informals" [ngStyle]=" {display : mobileQuery.matches ? 'none' : ''
     }" class="parent">
              <div id="node0" class="node0 node" style="height: 235px;border: 1px solid #FFD54F">
                <div id="node0_circle" class="node0_circle clc" style="background-color: #FFD54F;border: 2px solid white;">
                  <a #dance1 class="popup_btn" (click)="sidenav.open()" [routerLink]="['/events', 'dance']" [routerLink]="['/events', 'dance']" data-value="#dance_btn" (click)="sidenav.open()"><span style="color:white;font-size:16px;" class="fas fa-male"></span></a>
                </div>
                <div id="node1" class="node1 node" style="height:90px;border: 1px solid #FFD54F;">
                  <div id="node1_circle" matTooltip="Info about the action"
                       matTooltipPosition="above" class="node1_circle clc" style="background-color: #FFD54F;">
                    <a class="popup_btn" (click)="sidenav.open()" [routerLink]="['/events', 'dance']" data-value="#dance_btn">
                      <span style="color:white;font-size:16px;" class="fas fa-dumbbell"></span>
                    </a>
                  </div>
                  <div id="node1" class="node1 node" style="border: 1px solid #FFD54F;
           transform: rotate(60deg) !important;
           transform-origin: top;
           bottom: -45px;
           height: 60px;">
                    <div id="node1_circle" matTooltip="Info about the action"
                         matTooltipPosition="above" class="node1_circle clc" style="background-color: #FFD54F">
                      <a class="popup_btn" (click)="sidenav.open()" [routerLink]="['/events', 'dance']" data-value="#dance_btn">
                        <span style="color:white;font-size:16px;" class="fas fa-dumbbell"></span>
                      </a>
                    </div>
                    <div id="node1" class="node1 node" style="border: 1px solid #6F325C;
           transform: rotate(-60deg) !important;
           transform-origin: top;
           bottom: -45px;
           height: 60px;">
                      <div id="node1_circle" matTooltip="Info about the action"
                           matTooltipPosition="above" class="node1_circle clc" style="background-color: #FFD54F;">
                        <a class="popup_btn" (click)="sidenav.open()" [routerLink]="['/events', 'dance']" data-value="#dance_btn">
                          <span style="color:white;font-size:16px;" class="fas fa-dumbbell"></span>
                        </a>
                      </div>
                    </div>
                    <div id="node1" class="node1 node" style="border: 1px solid #FFD54F;
           transform: rotate(60deg) !important;
           transform-origin: top;
           bottom: -45px;
           height: 60px;">
                      <div id="node1_circle" matTooltip="Info about the action"
                           matTooltipPosition="above" class="node1_circle clc" style="background-color: #FFD54F;">
                        <a class="popup_btn" (click)="sidenav.open()" [routerLink]="['/events', 'dance']" data-value="#dance_btn">
                          <span style="color:white;font-size:16px;" class="fas fa-dumbbell"></span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>

                <div id="node3" class="node3 node" style="height:90px;border: 1px solid #FFD54F;">
                  <div id="node3_circle" class="node3_circle clc" style="background-color: #FFD54F;">
                    <a class="popup_btn" (click)="sidenav.open()" [routerLink]="['/events', 'dance']" data-value="#dance_btn">
                      <span style="color:white;font-size:16px;" class="fas fa-crop-alt"></span>
                    </a>
                  </div>
                  <div id="node3" class="node3 node" style="border: 1px solid #FFD54F;
           transform: rotate(-60deg) !important;
           transform-origin: top;
           bottom: -45px;
           height: 60px;">
                    <div id="node3_circle" class="node3_circle clc" style="background-color: #FFD54F;">
                      <a class="popup_btn" (click)="sidenav.open()" [routerLink]="['/events', 'dance']" data-value="#dance_btn">
                        <span style="color:white;font-size:16px;" class="fas fa-crop-alt"></span>
                      </a>
                    </div>
                    <div id="node3" class="node3 node" style="border: 1px solid #FFD54F;
           transform: rotate(-60deg) !important;
           transform-origin: top;
           bottom: -45px;
           height: 60px;">
                      <div id="node3_circle" class="node3_circle clc" style="background-color: #FFD54F;">
                        <a class="popup_btn" (click)="sidenav.open()" [routerLink]="['/events', 'dance']" data-value="#dance_btn">
                          <span style="color:white;font-size:16px;" class="fas fa-crop-alt"></span>
                        </a>
                      </div>

                    </div>
                    <div id="node3" class="node3 node" style="border: 1px solid #FFD54F;
           transform: rotate(60deg) !important;
           transform-origin: top;
           bottom: -45px;
           height: 60px;">
                      <div id="node3_circle" class="node3_circle clc" style="background-color: #FFD54F;">
                        <a class="popup_btn" (click)="sidenav.open()" [routerLink]="['/events', 'dance']" data-value="#dance_btn">
                          <span style="color:white;font-size:16px;" class="fas fa-crop-alt"></span>
                        </a>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="branch" style="position:relative;transform: rotate(292.5deg);top: -150px;transform-origin: bottom;">
            <div id="Gaming" [ngStyle]=" {display : mobileQuery.matches ? 'none' : ''
     }" class="parent">
              <div id="node0" class="node0 node" style="height: 220px;border: 1px solid #ff1744;">

                <div id="node1" class="node1 node" style="border: 1px solid #ff1744;">
                  <div id="node1_circle" class="node1_circle clc" style="background-color: #ff1744; ">
                    <a class="popup_btn" (click)="sidenav.open()" [routerLink]="['/events', 'dance']"><span style="color:white;font-size:16px;" class="icon-"></span></a>
                  </div>
                </div>

                <div id="node3" class="node3 node" style="border: 1px solid #ff1744;">
                  <div id="node3_circle" class="node3_circle clc" style="background-color: #ff1744;">
                    <a class="popup_btn" (click)="sidenav.open()" [routerLink]="['/events', 'dance']"><span style="color:white;font-size:16px;" class="icon-"></span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="branch" style="position:relative;transform: rotate(337.5deg);top: -150px;transform-origin: bottom;">
            <div id="Music" [ngStyle]=" {display : mobileQuery.matches ? 'none' : ''
     }" class="parent">
              <div id="node0" class="node0 node" style="height: 235px;">
                <div id="node0_circle" class="node0_circle clc" style="">
                  <a class="popup_btn" (click)="sidenav.open()" [routerLink]="['/events', 'dance']"><span style="color:white;font-size:16px;" class="icon-"></span></a>
                </div>
                <div id="node1" class="node1 node">
                  <div id="node1_circle" class="node1_circle clc" style="">
                    <a class="popup_btn" (click)="sidenav.open()" [routerLink]="['/events', 'dance']"><span style="color:white;font-size:16px;" class="icon-"></span></a>
                  </div>
                </div>

                <div id="node3" class="node3 node">
                  <div id="node3_circle" class="node3_circle clc" style="">
                    <a class="popup_btn" (click)="sidenav.open()" [routerLink]="['/events', 'dance']"><span style="color:white;font-size:16px;" class="icon-"></span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>
      <div class="component" style="width: 100%;
height: 100%;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;">
        <!-- Start Nav Structure -->
        <button style="background: url(assets/images/bg1.jpg);z-index: 9999999999;pointer-events: none;" class="cn-button" id="cn-button">Events</button>
        <div style="height: 100%;
width: 100%;
position: absolute;
display: flex;
flex-direction: row-reverse;
justify-content: center;
align-items: center;">


          <div style="overflow: hidden;z-index: 9999;" class="cn-wrapper opened-nav" id="cn-wrapper">
            <!-- <div style="position: absolute;height:100%;width:100%;display: flex;
            justify-content: center;
            align-items: center;"><button style="background: white;" class="cn-button" id="cn-button">Events</button></div>		  -->
            <ul>
              <li #music id="music_btn" class="main_event_btn" data-value="Music">
                <a>
                  <span class="fas fa-music"></span>
                </a>
              </li>
              <li #dance id="dance_btn" class="main_event_btn" data-value="Dance">
                <a>
                  <span class="fas fa-american-sign-language-interpreting"></span>
                </a>
              </li>
              <li #online id="online_btn" class="main_event_btn" data-value="Online">
                <a>
                  <span class="fas fa-signal"></span>
                </a>
              </li>
              <li #arts data-value="Arts" class="main_event_btn">
                <a>
                  <span class="fas fa-paint-brush"></span>
                </a>
              </li>
              <li #literary data-value="Literary" class="main_event_btn">
                <a>
                  <span class="fas fa-book-open"></span>
                </a>
              </li>
              <li #quiz data-value="Quiz" class="main_event_btn">
                <a>
                  <span class="fas fa-question"></span>
                </a>
              </li>
              <li #informals data-value="Informals" class="main_event_btn">
                <a>
                  <span class="fas fa-tshirt"></span>
                </a>
              </li>
              <li #gaming data-value="Gaming" class="main_event_btn">
                <a>
                  <span class="fas fa-headset"></span>
                </a>
              </li>
              <!-- <li  data-value="And" class="main_event_btn"><a  >
              <span class="icon-envelope-alt"></span></a>
              </li>
              <li  data-value="Game" class="main_event_btn"><a  >
              <span class="icon-envelope-alt"></span></a>
              </li> -->

            </ul>



          </div>

          <!-- Modal Structure -->

        </div>
        <!-- <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a> -->

      </div>
    </div>


    <div id="cn-overlay" class="cn-overlay "></div>
  </mat-sidenav-content>

</mat-sidenav-container>

